.gradient-background {
  background: linear-gradient(300deg, #68a96b, #32afdc, #a6ef72);
  background-size: 50% 50%;
   animation: gradient-animation 18s ease infinite; 
}

@keyframes gradient-animation {
  0% {
    background-position: 40% 40%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Icon square for features */
.icon-square {
  font-size: 4rem;
  color: #4c5bff;
  margin-bottom: 10px;
}

/* Footer adjustments */
footer {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Padding adjustments for the title image */
img.img-fluid {
  margin-top: 30px;
  padding-bottom: 0;
  max-width: 100%;
}
